aiohttp
beautifulsoup4
pymongo[srv]
motor
Pyrogram
requests
TgCrypto
shortzy
mdisky
flask
python-dotenv
aiofiles
pyrofork
tgcrypto
motor
marshmallow
umongo
pymongo
pytz
cinemagoer
shortzy
aiohttp
aiofiles
